<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="login">
	<h1>Cancer Prediction Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	  <b>Radius Mean : </b><input type="text" name="radius_mean" placeholder="Radius Mean" required="required" /></br>
        <b>Texture Mean : </b><input type="text" name="texture_mean" placeholder="Texture Mean" required="required" /></br>
        <b>Perimeter Mean : </b><input type="text" name="perimeter_mean" placeholder="Perimeter Mean" required="required" /></br>
        <b>Area Mean : </b><input type="text" name="area_mean" placeholder="Area Mean" required="required" /></br>
        <b>Smoothness Mean : </b><input type="text" name="smoothness_mean" placeholder="Smoothness Mean" required="required" /></br>
        <b>Compactness Mean : </b><input type="text" name="compactness_mean" placeholder="Compactness Mean" required="required" /></br>
        <b>Concavity Mean : </b><input type="text" name="concavity_mean" placeholder="Concavity Mean" required="required" /></br>
        <b>Concave Point Mean : </b><input type="text" name="concave points_mean" placeholder="Concave Point Mean" required="required" /></br>
        <b>Symmetry Mean : </b><input type="text" name="symmetry_mean" placeholder="Symmetry Mean" required="required" /></br>
        <b>Fractal Dimension Mean : </b><input type="text" name="fractal_dimension_mean" placeholder="Fractal Dimension Mean" required="required" /></br>
        
        <b>Radius SE : </b><input type="text" name="radius_se" placeholder="Radius SE" required="required" /></br>
        <b>Texture SE : </b><input type="text" name="texture_se" placeholder="Texture SE" required="required" /></br>
        <b>Perimeter SE : </b><input type="text" name="perimeter_se" placeholder="Perimeter SE" required="required" /></br>
        <b>Area SE : </b><input type="text" name="area_se" placeholder="Area SE" required="required" /></br>
        <b>Smoothness SE : </b><input type="text" name="smoothness_se" placeholder="Smoothness SE" required="required" /></br>
        <b>Compactness SE : </b><input type="text" name="compactness_se" placeholder="Compactness SE" required="required" /></br>
        <b>Concavity SE : </b><input type="text" name="concavity_se	" placeholder="Concavity SE" required="required" /></br>
        <b>Concave Point SE : </b><input type="text" name="concave points_se" placeholder="Concave Points SE" required="required" /></br>
        <b>Symmetry SE : </b><input type="text" name="symmetry_se" placeholder="Symmetry SE" required="required" /></br>
        <b>Fractal Dimension SE : </b><input type="text" name="fractal_dimension_se" placeholder="Fractal Dimension SE" required="required" /></br>
        
        <b>Radius Worst : </b><input type="text" name="radius_worst" placeholder="Radius Worst" required="required" /></br>
        <b>Texture Worst : </b><input type="text" name="texture_worst" placeholder="Radius Worst" required="required" /></br>
        <b>Perimeter Worst : </b><input type="text" name="perimeter_worst" placeholder="Perimeter Worst" required="required" /></br>
        <b>Area Worst : </b><input type="text" name="area_worst" placeholder="Area Worst" required="required" /></br>
        <b>Smoothness Worst : </b><input type="text" name="smoothness_worst" placeholder="Smoothness Worst" required="required" /></br>
        <b>Compactness Worst : </b><input type="text" name="compactness_worst" placeholder="Compactness Worst" required="required" /></br>
        <b>Concavity Worst : </b><input type="text" name="concavity_worst" placeholder="Concavity Worst" required="required" /></br>
        <b>Concave Point Worst : </b><input type="text" name="concave points_worst" placeholder="Concave Points Worst" required="required" /></br>
        <b>Symmetry Worst : </b><input type="text" name="symmetry_worst" placeholder="Symmetry Worst" required="required" /></br>
        <b>Fractal Dimension Worst : </b><input type="text" name="fractal_dimension_worst" placeholder="Fractal Dimension Worst" required="required" /></br>

        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
